body{
    font-family: 'Lato', sans-serif;
    /*background: url(register.png) no-repeat;*/
    max-width: none;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    padding-top: 90px;
}



div .row{ 
    float: left;
    width: 40%;
}



